<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Booking is Confirmed!</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4;
      text-align: center; margin: 0; padding: 20px; height: auto; } .ticket {
      max-width: 500px; margin: 0 auto; background: white; /* padding: 20px; */
      border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
      .header img { width: 150px; display: flex; flex-direction: column;
      justify-content: center; align-items: center; } .header p { color: black;
      margin-bottom: 20px; } .route-info { display: flex; justify-content:
      space-between; /* background-color: #228b22; */ color: gray; padding:
      15px; border-radius: 5px; text-align: start; } h1 { background-color:
      #006b14; padding: 10px; color: white; margin: 0; font-size: 22px;
      border-top-left-radius: 10px; border-top-right-radius: 10px; } /*
      .ticket-details { text-align: left; margin-top: 20px; display: flex; } */
      .ticket-details { padding: 15px; } .passenger-info { text-align: left;
      margin-top: 20px; display: flex; justify-content: space-between; padding:
      15px; } /* .ticket-details p, .passenger-info p { padding: 5px 0; } */ p {
      color: #767676; } strong { color: black; } .footer { margin-top: 20px;
      font-size: 14px; text-align: center; align-items: center; } .footer p {
      margin-bottom: 40px; color: black; } .social-icons { display: flex;
      align-items: center; justify-content: center; gap: 5px } .sub-details {
      display: flex; align-items: center; justify-content: space-between; } hr {
      color: #dfe1e7; margin: 0px 15px; color: #dfe1e7; } .headerImg {
      background-color: #e4f3e7; padding: 20px; } .nrt { margin: 0px 10px 0px
      10px; border: 1px solid #006b14; border-radius: 10px; } .nin { margin-top:
      40px; }
    </style>
  </head>
  <body>
    <div class="ticket">
      <div class="header">
        <div class="headerImg">
          <img
            src="https://res.cloudinary.com/dgde8cwjk/image/upload/v1742037485/TrainStation%20Pictures/TrainLogo_zrkf9m.png"
            alt="NRC Logo"
          />
        </div>
        <h2>Your Booking is Confirmed! 🎉</h2>
        <p>
          Thank you for choosing Nigerian Railway Corporation. Your ticket
          details are below.
        </p>
      </div>

      <div class="nrt">
        <h1>NRC E-ticket</h1>
        <div class="route-info">
          <div>
            <p><strong>{{departureTime}}</strong></p>
            <p>{{departureStation}}</p>
            <p>{{departureDate}}</p>
          </div>
          <div>
            <p><strong>{{arrivalTime}}</strong></p>
            <p>{{arrivalStation}}</p>
            <p>{{arrivalDate}}</p>
          </div>
        </div>

        <hr />

        <div class="ticket-details">
          <div class="sub-details">
            <div class="number-ID">
              <p><strong>{{trainNumber}}</strong></p>
              <p>Train Number</p>
              <p style="margin-top: 30px"><strong> {{bookingId}}</strong></p>
              <p>Booking ID</p>
            </div>
            <div class="date">
              <p><strong>{{coachNumber}}</strong></p>
              <p>Coach Number</p>
              <p style="margin-top: 30px"><strong>{{bookingDate}}</strong></p>
              <p>Booking date</p>
            </div>
            <div class="Seat">
              <p><strong>{{seatNumber}}</strong></p>
              <p>Seat Number</p>
              <p style="margin-top: 30px"><strong>{{passengerType}}</strong></p>
              <p>Passenger Type</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="passenger-info">
          <div class="name">
            <h3>Passenger Details</h3>
            <p>Full Name</p>
            <p><strong> {{passengerName}}</strong></p>
            <p>Email</p>
            <p><strong> {{passengerEmail}}</strong></p>
          </div>

          <div class="nin">
            <p>NIN</p>
            <p><strong>{{passengerNIN}}</strong></p>
            <p>Phone Number</p>
            <p><strong>{{passengerPhone}}</strong></p>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="social-icons">
          <img
            src="https://res.cloudinary.com/dgde8cwjk/image/upload/v1742037474/TrainStation%20Pictures/facebook_ulz0o2.png"
            alt="Facebook"
          />
          <img
            src="https://res.cloudinary.com/dgde8cwjk/image/upload/v1742037487/TrainStation%20Pictures/twitter_ttwdbk.png"
            alt="Twitter"
          />
          <img
            src="https://res.cloudinary.com/dgde8cwjk/image/upload/v1742037475/TrainStation%20Pictures/instagram_sgxgzb.png"
            alt="Instagram"
          />
        </div>
        <p style="margin-bottom: 20px">Copyright © 2025</p>
      </div>
    </div>
  </body>
</html>